.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000000;
  top: 0;
  right: 0;
  background-color: rgb(226, 226, 226);
  overflow-x: hidden;
  padding: 10px 0px 0px 0px;
  transition: 0.5s;
}

.sidenav a {
  padding: 0px 3px 8px 32px;
  text-decoration: none;
  font-size: 14px;
  color: #333333;
  display: block;
  transition: 0.3s;
}

.imgComment {
  transition: 0.5s;
}

.sidenav a:hover {
  color: #000000;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 36px;
}

@media screen and (max-height: 14px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 14px;
  }
}