.card-jdp {
    max-width: 3em;
}
.col-md-10{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 1em;
}
.mb-1, .my-1{
    font-size: 1em;
    color: rgb(88, 88, 88);
}
.Answear-div{
    display: flex;
    flex-direction: row;
    padding-left: 2em;
    padding-top: 3px;
}

.card-text{
    font-size: 14px;
}

.card-img{
    height: 3.5em;
    width: 3.5em;
clip-path: circle(35% at center)!important;
}