.rel-container-preguntas{
    position: absolute;
    top:0px;
    width: 80vw;
    left: 0;
}

.rel-button-question{
    display: block;
    height: 10em;
    margin-top: 5em;
    background-color: transparent;
}
.rel-button-content-top {
    margin-top: 14em;
}

.rel-comentario{
    position: fixed;
    bottom: 3em;
    right: 2em;
}

.rel-comentarioNav{
    position: fixed;
    top: 2em;
    right: 0px;
    z-index: 100000;
}


